
/* Generic pane rules */
.row, .col { overflow: hidden; position: absolute; }
.row { left: 0; right: 0; }
.col { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }

.header.row {
  -webkit-app-region: drag;
  height: 28px;
  top: 0;
  background-color: #333333;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #4E4E4E;
}
.body.row { top: 56px; bottom: 0px; } /* top must be header height, bottom must be footer height */

.header_icons {
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
  height: 28px;
  color: #DDDDDD;
  float: right;
  padding-right: 4px;
  padding-left: 4px;
}
.header_icons:hover { background-color: #448AFF; }
.header_title{
  color: #DDDDDD;
  margin: auto;
  width: 157px;
  position: relative;
  top: 5px;
}


.menubar{
  top: 27px;
  width: 100%;
}


.well.login{
  width: 525px;
  margin: auto;
  margin-top: 25px;
}
.well_login_image{
  height: 91px;
  width: 500px;
  margin-left: -10px;
  background: url('../img/smaller.png') center no-repeat;
}


.loginError{
  color: #DE3226;
}


.drop-box {
  position:absolute;
  width: 100%;
  height: 100%;
  background: #F8F8F8;
  border: 5px dashed #DDD;
}
.drop-box p {
  height: 0px;
  width: 485px;
  margin: auto;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  font-size: 2.5em;
  font-weight: 500;
  color: #919191;
}
.dragover {
  border: 5px dashed #009688;
}
