<!doctype html>
<html ng-app="application">
  <head>
    <meta charset="utf-8" />
    <title>Avatar Billing Verification</title>
    <link rel="stylesheet" href="css/app.css">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Include roboto.css to use the Roboto web font, material.css to include the theme and ripples.css
    to style the ripple effect -->
    <link href="css/roboto.css" rel="stylesheet">
    <link href="css/material.css" rel="stylesheet">
    <link href="css/ripples.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <script src="./js/ng-file-upload.min.js"></script>
    <script src="./js/controllers/application.js"></script>
    <script src="./js/routes/routes.js"></script>

    <!-- other non angular/bootstrap js libs -->
    <script src="./js/dateFormat.js"></script>
    <script src="./js/mousetrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body id="body" ng-controller="UploadController">

    <!-- Header -->
    <div class="header row">
      <img class="header_logo" src="./img/Netsmart_logo_smaller.png">
      <i class="material-icons header_icons md-18 window_close">clear</i>
      <i class="material-icons header_icons window_max">crop_landscape</i>
      <i class="material-icons header_icons window_min">remove</i>
      <div class="header_title">Avatar Billing Verification</div>
    </div>

    <!-- menu -->
    <div class="btn-group menubar">
      <div class="btn-group">
        <a href="bootstrap-elements.html" data-target="#" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
          File
        </a>
        <ul class="dropdown-menu">
          <!-- <li><a href="#/">Login</a></li> -->
          <li><a href="" ng-click="newUpload()">
            <span class="menuItem">Import 837</span>
            <span class="text-muted menuCommand">Ctrl+N</span>
          </a></li>

          <!-- <li class="disabled" id="export835"><a href="" ng-click="export835()">Export 835</a></li> -->
          <li class="divider"></li>
          <!-- <li><a href="javascript:void(0)">Preferences</a></li> -->
          <li><a href="javascript:void(0)" class="window_close">Exit</a></li>
        </ul>
      </div>
  <!--
      <div class="btn-group">
        <a href="bootstrap-elements.html" data-target="#" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
          Sandwiches
        </a>
        <ul class="dropdown-menu">
          <li><a href="javascript:void(0)">Bologna</a></li>
          <li class="divider"></li>
          <li><a href="javascript:void(0)">Preferences</a></li>
          <li><a href="javascript:void(0)">Exit</a></li>
        </ul>
      </div>
      <div class="btn-group">
        <a href="bootstrap-elements.html" data-target="#" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
          Tea
        </a>
        <ul class="dropdown-menu">
          <li><a href="javascript:void(0)">Bologna</a></li>
          <li class="divider"></li>
          <li><a href="javascript:void(0)">Preferences</a></li>
          <li><a href="javascript:void(0)">Exit</a></li>
        </ul>
      </div>
    -->
    </div>

    <!-- main content -->
    <div id="page" class="body row scroll-y scroll-x">

      <div ng-if="alert" class="alert alert-dismissable alert-{{alertType}}">
        <button type="button" class="close" ng-click="closeAlert()">×</button>
        <strong>Error:</strong> {{alertMessage}}
      </div>

      <!-- <div ng-view></div> -->

      <div
        class="drop-box"
        ng-model="file"
        ngf-drop
        ngf-drag-over-class="dragover"
        ngf-multiple="true"
        ngf-allow-dir="false"
        ngf-accept="'.txt'">
        <p>Drop 837 text file here!</p>
      </div>
      <div class="row filePanels">
        <div class="col-sm-6">
          <div class="panel panel-default">
            <!-- <div class="panel-heading">837</div> -->
            <div class="panel-body fileStuffs">
              <h3 class="fileNameMargin">{{ fileName }}</h3>
              <p>{{ fileContents }}</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="panel panel-default">
            <!-- <div class="panel-heading">835</div> -->
            <div class="panel-body fileStuffs">


              <div class="input-group x835filenamebuff">
                <input ng-model="x835saveFileName" type="text" class="form-control input-lg" placeholder="835 filename">
                <span class="input-group-btn">
                  <button ng-click="export835()" class="btn btn-primary btn-flat" type="button"><i class="mdi-content-save"></i></button>
                </span>
              </div>
              <p>{{ x835FileContents }}</p>
            </div>
          </div>
        </div>
      </div>

      <input style="" id="fileDialog" class="displayNone" type="file" nwsaveas="{{x835saveFileName}}.txt"/>
    </div> <!--end page -->

    <script src="js/bootstrap.js"></script>
    <script src="js/ripples.js"></script>
    <script src="js/material.js"></script>
    <script src="js/app.js"></script>

  </body>
</html>
