<div class="header row">
  <!-- Left aligned menu below button -->
  <button id="demo-menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon">
    <i class="material-icons header-menu">menu</i>
  </button>
  <i class="material-icons header-icons md-18" id="window_close">clear</i>
  <i class="material-icons header-icons" id="window_max">crop_landscape</i>
  <i class="material-icons header-icons" id="window_min">remove</i>
</div>

<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-left">
  <li class="mdl-menu__item" id="menu_login">Login</li>
  <li class="mdl-menu__item" id="menu_upload_837">Upload 837</li>
</ul>

<div class="notice"></div>
