<div class="well login">
  <div class="well_login_image"></div>
  <div class="form-group">
    <input class="form-control" id="username" type="text" placeholder="Username">
  </div>
  <div class="form-group">
    <input class="form-control" id="password" type="password" placeholder="Password">
  </div>
  <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
      <button class="btn btn-default">Cancel</button>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</div>

<a href="javascript:void(0)" class="btn btn-default" id="init">init</a>
